{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		
		<title>{% block title %}SynByt{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="shortcut icon" type="image/png" href="{% static 'img/synbyt-logo.jpg' %}"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		{% block stylesheet %}{% endblock %}
	</head>
	<body>
		{% block body %}
		<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd; background-image: url({% static 'img/back2.png' %}); width: 100%">
			<a class="navbar-brand" href="{% url 'home' %}">S Y N B Y T</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="">Portfolio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'about' %}">About us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'contact' %}">Contact us</a>
					</li>
				</ul>
			</div>
		</nav>
		
		
		<div class="container">
			<ol>
				{% block breadcrumb %}
				{% endblock %}
			</ol>
			<ol>
				{% block content %}
				{% endblock %}
			</ol>
		</div>
		{% endblock %}
		
		<!------- end block body------->
		
		{% block footer %}
			<!-------- Start Navbar Footer --->
			<nav class="navbar navbar-dark" style="background-color:#191919; padding:20px;">
				<div class="container">
					<div class="float-left">
						<p style="font-size: 16px;">SHARE THIS</p>
						<ul class="" style="list-style:none;">
							<li><a href="{% url 'about' %}"><font color="white">About</font></a></li>
							<li><a href=""><font color="white">Blog</font></a></li>
							<li><a href="{% url 'contact' %}"><font color="white">Contact</font></a></li>
							<li><a href="{% url 'support'%}"><font color="white">Support</font></a></li>
						</ul>
					</div>
					<div class="float-left mb-5">
						<p style="font-size: 16px;">PRIVACY</p>
						<ul class="" style="list-style:none;">
							<li><a href=""><font color="white">Privacy</font></a></li>
							<li><a href=""><font color="white">Share this Service</font></a></li>
						</ul>
					</div>
					<div class="float-right mb-5">
						<p style="font-size: 16px;">LEGAL</p>
						<ul class="" style="list-style:none;">
							<li><a href=""><font color="white">Copyright Guidelines</font></a></li>
							<li><a href="{% url 'terms_of_use' %}"><font color="white">Terms of use</font></a></li>
						</ul>
					</div>
					<div class="float-right mt-5">
						<p style="font-size: 16px;">BANGLADESH DEVELOPMENT OFFICE</p>
						<address>
							<p><font color="white">House # 21[1st Floor], Road # 7C,</br>Sector # 9, Uttara, Dhaka, Bangladesh</font></p>
							<p style="font-size: 16px;">USA Office</p>
							<p><font color="white">941 NE 170, st apt 322,</br>North Miami Beach, Florida 33162, USA</font></p>
						</address>
					</div>
				</div>
			</nav>
			<!-------- End Navbar Footer ----->
			
			<nav class="navbar navbar-dark" style="background-color:#000000;">
				<div class="container">
					<p class="text-center"><font color="white">&copy; all rights reserved <a href="{% url 'home' %}">SYNBYT</a></font></p>
					<ul class="float-right list-inline">
						<li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-facebook fa-2x" style="font-size:30px;color:#3b5998" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-twitter fa-2x" style="font-size:30px;color:#00aced" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-reddit fa-2x" style="font-size:30px;color:#FF5700" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-youtube fa-2x" style="font-size:30px;color:#ff0000" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-pinterest fa-2x" style="font-size:30px;color:#FF5700" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</nav>
		{% endblock footer %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
		{% block javascript %}{% endblock %}
		<script>
			$(document).ready(function(){
				{% block jquery %}
					
				{% endblock %}
			});			
		</script>
	</body>
</html>